body {
    background: #DDEDAA;
    color: #131515;
    text-align: center;
    animation-delay: 1.2s;
    background-clip: padding-box;
    background-image: url(/img/background.png);
    
}
 table,
        th,
        td {
            border: 1px solid black;
            padding: 5px;
        }

        table {
            border-spacing: 15px;
        }
